
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Monitor</title>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=_UolLm8aagCATiHlRXujDUN7L_kjJbEXRWZKzedI5E5jrdgjAw-mHp-GS9mb_Wj8gHzBWIBlgZLvKJea5NZlZrHID5aGb_EklJPQFC7a7N6ZQXq-ZzEjGEu3uEeXnfAqCy9aCff0zHAPKmNWRUsxgg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvNzE1MjEyMjY1Mjc5OTc5NTY2Lzc3ODk4OTk5OTMyNzY3NDM3OC9pbmRleC5odG1s"/><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>
    <link rel = "stylesheet" href = "/css/styles.css"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background:  linear-gradient(to bottom, #e8ffff 50%, #e0ece4 100%)">
  <header class="masthead clear">
    <div class="site-branding">
      <h1 class="site-title">State Monitoring Application</h1>
    </div>
  </header>
  <div id="parentdiv">
        <div id ="activediv" class="active">
            <h3 id="activetime" class="active-time"></h3>
        </div>
        <div style="margin: 25px auto auto auto; width: 50%;">
            <canvas id="examChart1" width="500" height="300"></canvas>
            <br><br>
            <canvas id="examChart2" width="500" height="300"></canvas> 
            <br><br> 
        </div>
        <div id = "closing"; style="margin: auto; width: 50%; display: flex;">
            <div id = "closing1"; style="margin: auto; border: 2px solid rgba(163, 216, 244, 0.7); background-color: rgba(163, 216, 244, 0.7); border-radius: 10px;"></div>
            <div id = "closing2"; style="margin: auto; border: 2px solid rgba(163, 216, 244, 0.7); background-color: rgba(163, 216, 244, 0.7); border-radius: 10px;"></div>
        </div>
        <br><br>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>